In [1]:
students = ("Frank", "Mary", "Jasmine", "Ivana", "Ahmed")
students.append("Serena")
print(students)

AttributeError: 'tuple' object has no attribute 'append'

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [18]:
# Store the CSV you saved created in part one into a DataFrame.
av_rain_df = pd.read_csv("to delete/avg_rain_state.csv")
av_rain_df.sort_values(['Rank'], ascending= False).tail()

          State  Inches  Milli­metres  Rank
8       Florida    54.5          1385     5
0       Alabama    58.3          1480     4
23  Mississippi    59.0          1499     3
17    Louisiana    60.1          1528     2
10       Hawaii    63.7          1618     1

In [22]:
try:
    print("Infinity looks like + " + str(10 / 0) + ".")

SyntaxError: unexpected EOF while parsing (<ipython-input-22-244d3506473f>, line 2)