In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-03-24 22:08:20,-33.9258,18.4232,70.00,77,0,10.36
1,1,Jaguaruana,BR,2021-03-24 22:08:21,-4.8339,-37.7811,75.56,90,50,5.70
2,2,Taiyuan,CN,2021-03-24 22:08:21,37.8694,112.5603,37.40,56,0,2.24
3,3,Vaini,TO,2021-03-24 22:08:21,-21.2000,-175.2000,78.80,89,90,14.97
4,4,Hobart,AU,2021-03-24 22:08:01,-42.8794,147.3294,62.01,94,75,10.18

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Jaguaruana,BR,2021-03-24 22:08:21,-4.8339,-37.7811,75.56,90,50,5.70
3,3,Vaini,TO,2021-03-24 22:08:21,-21.2000,-175.2000,78.80,89,90,14.97
7,7,Rikitea,PF,2021-03-24 22:08:22,-23.1203,-134.9692,79.59,67,0,13.00
13,13,Sola,VU,2021-03-24 22:08:24,-13.8833,167.5500,78.80,100,74,2.30
17,17,Biak,ID,2021-03-24 22:08:25,-0.9131,122.8766,76.01,84,100,0.78
20,20,Atuona,PF,2021-03-24 22:08:26,-9.8000,-139.0333,80.65,74,100,18.68
29,29,Saldanha,ZA,2021-03-24 22:08:28,-33.0117,17.9442,77.00,50,4,1.14
30,30,Puerto Ayora,EC,2021-03-24 22:08:28,-0.7393,-90.3518,82.40,78,40,10.36
31,31,Cayenne,GF,2021-03-24 22:08:29,4.9333,-52.3333,81.00,78,25,6.91
34,34,Maribondo,BR,2021-03-24 22:08:29,-9.5772,-36.3053,77.00,88,75,3.44

In [19]:
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1     Jaguaruana      BR     75.56  -4.8339  -37.7811
3          Vaini      TO     78.80 -21.2000 -175.2000
7        Rikitea      PF     79.59 -23.1203 -134.9692
13          Sola      VU     78.80 -13.8833  167.5500
17          Biak      ID     76.01  -0.9131  122.8766
20        Atuona      PF     80.65  -9.8000 -139.0333
29      Saldanha      ZA     77.00 -33.0117   17.9442
30  Puerto Ayora      EC     82.40  -0.7393  -90.3518
31       Cayenne      GF     81.00   4.9333  -52.3333
34     Maribondo      BR     77.00  -9.5772  -36.3053

In [27]:
# Set parameters to search for a hotel.
params = {"radius": 5000, "type": "lodging", "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Jaguaruana,BR,75.56,-4.8339,-37.7811,Pousada Popular
3,Vaini,TO,78.80,-21.2000,-175.2000,Keleti Beach Resort
7,Rikitea,PF,79.59,-23.1203,-134.9692,Pension Maro'i
13,Sola,VU,78.80,-13.8833,167.5500,Leumerus Bungalows
17,Biak,ID,76.01,-0.9131,122.8766,Penginapan Kim
20,Atuona,PF,80.65,-9.8000,-139.0333,Villa Enata
29,Saldanha,ZA,77.00,-33.0117,17.9442,Blue Bay Lodge
30,Puerto Ayora,EC,82.40,-0.7393,-90.3518,Finch Bay Galapagos Hotel
31,Cayenne,GF,81.00,4.9333,-52.3333,Hôtel Le Dronmi
34,Maribondo,BR,77.00,-9.5772,-36.3053,Motel Lua Morena

In [28]:
hotel_df.count()

City          152
Country       152
Max Temp      152
Lat           152
Lng           152
Hotel Name    152
dtype: int64

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """<dl><dt>Hotel Name</dt><dd>{Hotel Name}</dd><dt>City</dt><dd>{City}</dd><dt>Country</dt><dd>{Country}</dd><dt>Max Temp</dt><dd>{Max Temp} °F</dd></dl>"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]